<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <modules>
            <remove name="FormsAuthenticationModule" />
            <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />            
            <remove name="UrlAuthorization" />
            <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
        </modules>
        <staticContent>

            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension="." mimeType="application/octet-stream" />
        </staticContent>
           <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
    </system.webServer>
</configuration>